{ZL.Source id="节点栏目信息数据源"/}<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="节点栏目信息数据源" FD="Meta_Keywords" page="0"/}" />
<meta name="description" content="{SField sid="节点栏目信息数据源" FD="Meta_Description" page="0"/}" />
{ZL:Boot()/}
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script src="/js/scrolltopcontrol.js" type="text/javascript"></script>
<style>
.home_nav { background:none; position:fixed; top:0;}
.home_nav .navbar-collapse { background:none;}
.home_nav.active { background:#2446b4; box-shadow: 1px 3px 12px #2446b4; }
.foot_bottom { background:#2446b4;}

</style>
</head> 
<body>
{ZL.Label id="全站头部"/}
<div class="about_banner">
<div class="container about_intro">
<h2>领先的生鲜企业商务平台</h2>
<p>武汉生鲜配送七件事生活网是武汉第一家网上买菜网,集生鲜、蔬菜、水果网上订购超市<br>线下社区配送服务商,提供武汉生鲜配送,武汉网上买菜,武汉生鲜网,武汉蔬菜配送</p>
<a href="#">了解更多</a>
</div>
</div>
<!-- about_banner end! -->

<div class="about_info container">
<h3>鲜果资讯</h3>
<div class="row">
<div class="build_list">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding0">
<div class="box">
<a href="#">
<div class="bi fix">
<div class="img"><span class="rect-75"><img src="{$CssDir/}images/fruit_pic8.jpg" alt="食品安全法"></span></div>
<h4 class="title font_ht">《食品生产经营日常监督检查管理办法》解读</h4>
</div>
<div class="text">食品生产经营日常监督检查管理办法》于3月4日对外公布，将自5月1日起正式施行</div>
<span class="time">2017-07-28</span>
</a>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding0">
<div class="box">
<a href="#">
<div class="bi fix">
<div class="img"><span class="rect-75"><img src="{$CssDir/}images/fruit_pic9.jpg" alt="食品安全法"></span></div>
<h4 class="title font_ht">《食品生产经营日常监督检查管理办法》解读</h4>
</div>
<div class="text">食品生产经营日常监督检查管理办法》于3月4日对外公布，将自5月1日起正式施行</div>
<span class="time">2017-07-28</span>
</a>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding0">
<div class="box">
<a href="#">
<div class="bi fix">
<div class="img"><span class="rect-75"><img src="{$CssDir/}images/fruit_pic7.jpg" alt="食品安全法"></span></div>
<h4 class="title font_ht">《食品生产经营日常监督检查管理办法》解读</h4>
</div>
<div class="text">食品生产经营日常监督检查管理办法》于3月4日对外公布，将自5月1日起正式施行</div>
<span class="time">2017-07-28</span>
</a>
</div>
</div>
</div>
<div class="clearfix"></div>
</div>
</div>
<!-- about_info end! -->

<div class="mao-item mao-item-bg2">
<div class="container">
<div class="mao-content">
<div class="mao-item-title mao-text-center mao-text-white">生鲜到家</div>
<div class="mao-slider-title-wrap">
<span class="mao-slider-title">鲜果直送</span>
<span class="mao-slider-title">海鲜到家</span>
<span class="mao-slider-title">便民服务</span>
<span class="mao-slider-title">酒店配送</span>
<span class="mao-slider-title">大件批销</span>
</div>
<i id="pre" class="fa fa-chevron-circle-left"></i>
<i id="next" class="fa fa-chevron-circle-right"></i>
<div class="mao-slider-wrap">
<div class="mao-slider-box">
<div class="mao-slider" style="margin-left: 0;">
<div class="img_box"><img src="{$CssDir/}images/fruit_pic1.jpg" alt="鲜果直送"></div>
<div class="mao-slider-item-title">鲜果直送</div>
<div class="mao-slider-item-content">
选购优质鲜果,香甜可口,营养丰富,急速配送,天天钜惠,速来抢购!京东生鲜品类齐全,产地直采,闪电配送,一站式购齐,买生鲜就上七件事。
</div>
</div>
<div class="mao-slider">
<div class="img_box"><img src="{$CssDir/}images/fruit_pic2.jpg" alt="海鲜到家"></div>
<div class="mao-slider-item-title">海鲜到家</div>
<div class="mao-slider-item-content">
澳洲的暴雨和龙虾、加拿大的翡翠螺还有海胆、越南虎虾、挪威三文鱼、北海道松叶蟹、朝鲜赤贝、波斯湾龙虾等等...种类齐全应有尽有,来到海鲜到家保证满...
</div>
</div>
<div class="mao-slider">
<div class="img_box"><img src="{$CssDir/}images/fruit_pic3.jpg" alt="便民服务"></div>
<div class="mao-slider-item-title">便民服务</div>
<div class="mao-slider-item-content">
我们为YBR商业信息咨询公司提供企业疑似关联查询、企业族谱等信息，为客户的尽职调查、背景调查、财产追踪等核心业务节约了大量的人力成本与时间成本。
</div>
</div>
<div class="mao-slider">
<div class="img_box"><img src="{$CssDir/}images/fruit_pic4.jpg" alt="酒店配送"></div>
<div class="mao-slider-item-title">酒店配送</div>
<div class="mao-slider-item-content">
我们为WD信息股份有限公司的B2B交易平台提供了企业基本信息和诉讼信息的查询接口服务，用户在B2B交易中可直接查看交易对象的关联信息，降低客户信用类投诉量，减少了客服人员的工作量。
</div>
</div>
<div class="mao-slider">
<div class="img_box"><img src="{$CssDir/}images/fruit_pic5.jpg" alt="大件批销"></div>
<div class="mao-slider-item-title">大件批销</div>
<div class="mao-slider-item-content">
我们为客户提供按照企业经营范围数据查询的接口服务，帮助客户在传统CRM软件中提供推荐潜在客户的增值服务，帮助用户发现商机，促进提高用户满意度与销售业绩。
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- arrive_box end! -->

<div class="partner_box container">
<div class="mao-item-title mao-text-center mao-text-white">合作伙伴</div>
<div class="row">
<div class="partner_c">
<div class="col-lg-4 col md-4 col-sm-4 col-xs-6">
<a href="http://www.baidu.com" target="_blank">
<img src="{$CssDir/}images/baidu_logo.png" alt="百度"/>
<div class="hover_img"><img src="{$CssDir/}images/baidu_logo_hover.png" alt="百度"/></div>
</a>
</div>
<div class="col-lg-4 col md-4 col-sm-4 col-xs-6">
<a href="http://cn.unionpay.com" target="_blank">
<img src="{$CssDir/}images/yl_logo.png" alt="中国银联"/>
<div class="hover_img"><img src="{$CssDir/}images/yl_logo_hover.png" alt="中国银联"/></div>
</a>
</div>
<div class="col-lg-4 col md-4 col-sm-4 col-xs-6">
<a href="http://nc.58.com" target="_blank">
<img src="{$CssDir/}images/58_logo.png" alt="58同城"/>
<div class="hover_img"><img src="{$CssDir/}images/58_logo_hover.png" alt="58同城"/></div>
</a>
</div>
<div class="col-lg-4 col md-4 col-sm-4 col-xs-6">
<a href="https://www.fxiaoke.com" target="_blank">
<img src="{$CssDir/}images/fx_logo.png" alt="纷享销客"/>
<div class="hover_img"><img src="{$CssDir/}images/fx_logo_hover.png" alt="纷享销客"/></div>
</a>
</div>
<div class="col-lg-4 col md-4 col-sm-4 col-xs-6">
<a href="https://www.itjuzi.com" target="_blank">
<img src="{$CssDir/}images/qdb_logo.png" alt="IT橘子"/>
<div class="hover_img"><img src="{$CssDir/}images/qdb_logo_hover.png" alt="IT橘子"/></div>
</a>
</div>
<div class="col-lg-4 col md-4 col-sm-4 col-xs-6">
<a href="http://www.qiandai.com" target="_blank">
<img src="{$CssDir/}images/qdb_logo.png" alt="钱袋宝"/>
<div class="hover_img"><img src="{$CssDir/}images/qdb_logo_hover.png" alt="钱袋宝"/></div>
</a>
</div>
</div>
</div>
</div>
<!-- partner_box end! -->


{ZL.Label id="全站底部"/}
</body>
</html>
<script>
slider();
function slider() {
$(".mao-slider-title").each(function (index) {
    $(this).on("click", function () {
        console.log(index);
        $(".mao-slider-title").each(function () {
            $(this).removeClass("mao-active");
        });

        $(this).addClass("mao-active");

        if (index > 0 && index < 4) {
            var marginLeft = -(index - 1) * 350;
            marginLeft = marginLeft + "px";
            $(".mao-slider-box").animate({ "margin-left": marginLeft });
        }
        if (index == 0) {
            $(".mao-slider-box").animate({ "margin-left": "0px" });
        }

        if (index == 4) {
            $(".mao-slider-box").animate({ "margin-left": "-700px" });
        }
    });
});
}

$("#pre").on("click", function () {
    var i = 0;
    $(".mao-slider-title").each(function (index) {
        if ($(this).hasClass("mao-active")) {
            i = index;
        }
    });

    if (i > 0) {
        $($(".mao-slider-title")[i - 1]).trigger("click");
    }
});

$("#next").on("click", function () {
    var j = 0;
    $(".mao-slider-title").each(function (index) {
        if ($(this).hasClass("mao-active")) {
            j = index;
        }
    });
    if (j < 4) {
        $($(".mao-slider-title")[j + 1]).trigger("click");
    }
});


$(function(){
    $(".partner_c a").mouseover(function(){
        $(this).find(".hover_img").hide().stop().show();
    }).mouseleave(function(){
        $(this).find(".hover_img").hide();
    });
})

</script>

<script>
//检测固顶事件
var IO=document.getElementById('home_nav'),Y=IO,H=0,IE6;
IE6=window.ActiveXObject&&!window.XMLHttpRequest;
while(Y){H+=Y.offsetTop;Y=Y.offsetParent};
if(IE6)
    IO.style.cssText="position:absolute;top:expression(this.fix?(document"+
        ".documentElement.scrollTop-(this.javascript||"+H+")):0)";
window.onscroll=function (){
    var d=document,s=Math.max(d.documentElement.scrollTop,document.body.scrollTop);
     if(s>H&&IO.fix||s<=H&&!IO.fix)return;
    if(!IE6)IO.style.position=IO.fix?"":"fixed";        
    IO.fix=!IO.fix;
};
try{document.execCommand("BackgroundImageCache",false,true)}catch(e){};


//手机下右侧导航菜单效果
$(function () {
    $('button.navbar-toggle').click(function () {
        $('body').toggleClass('out');
        $('nav.navbar-fixed-top').toggleClass('out');
        if ($('body').hasClass('out')) {
            $(this).focus();
        }
        else {
            $(this).blur();
        }
    });
});
$(document).click(function (e) {
    if (!$(e.target).closest('.navbar-collapse, button.navbar-toggle').length && $('body').hasClass('out')) {
        e.preventDefault();
        $('button.navbar-toggle').trigger('click');
    }
}).keyup(function (e) {
    if (e.keyCode == 27 && $('body').hasClass('out')) {
        $('button.navbar-toggle').trigger('click');
    }
});


$(window).scroll(function(){
	if($(window).scrollTop()>0){
		$(".home_nav").addClass("active")
	}
	else{
		$(".home_nav").removeClass("active");
	}
});

//微信二维码
$(".home_weixin img").hide();
$(".home_weixin a").mouseover(function(){
    $(".home_weixin img").show();
}).mouseout(function(){
    $(".home_weixin img").hide();
});

/*显示搜索框*/
function isSearch(){
    $(".home_search").css("opacity","1").css("z-index","1").css("right","0");
    $(".home_top_nav").fadeOut(200);
    $(".home_search .form-control").focus();
}
/*关闭搜索框*/
function isClose(){
    $(".home_search").css("opacity","0").css("z-index","-1").css("right","-1em");
    $(".home_top_nav").fadeIn(1000);
}


</script>