@using ZoomLa.BLL
@using ZoomLa.Model
@using ZoomLa.Common
@functions{
    string usernavBan = ZoomLa.Components.SiteConfig.UserConfig.UserNavBan;
    public bool IsShowNav(string nav)
    {
        if (string.IsNullOrEmpty(usernavBan)) { return true; }
        else { return !usernavBan.Contains(nav); }
    }
 }
@{
    M_UserInfo mu = new B_User().GetLogin();
    M_Group groupMod = new M_Group();
	B_Group groupBll = new B_Group();
	groupMod = groupBll.SelReturnModel(mu.GroupID);
	string truename = mu.UserName;
    if (!string.IsNullOrEmpty(mu.TrueName))
    {
        truename = mu.TrueName;
    }
}

<div class="container padding0_xs">
<div class="user_top">
<div class="user_top_t"><a href="/User/Info/Index"><img src="@mu.UserFace" alt="@mu.UserName" onerror="shownoface(this);" /></a></div>
<div class="user_top_p">
会员名称：@truename<br/>
会员组：@groupMod.GroupName<br/>
余额：<a href="/user/Info/ConsumeDetail?SType=1" title="点击查看资金明细">@mu.Purse</a>
<span>积分：@mu.UserExp</span>
</div>
</div>
</div>
